{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<!DOCTYPE html>
<html>
    <head>
    <f:section name="metadata"/>

    <f:section name="stylesheets">
        <!-- Bootstrap Core CSS -->
        <link href="{f:uri.resource(path: 'Styles/bootstrap.min.css', package:'UlrikKold.AninguaqCoachingDk')}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{f:uri.resource(path: 'Styles/acoaching.css', package:'UlrikKold.AninguaqCoachingDk')}" rel="stylesheet">

        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    </f:section>
    <f:section name="headScripts">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </f:section>
</head>
<body>
<f:section name="bodyIntroScripts">
    <!-- Put your body scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55207244-1', 'auto');
        ga('send', 'pageview');

    </script>
</f:section>
<f:section name="body">
    <div class="brand">Aninguaq Coaching</div>
    <div class="address-bar">Din lille smerte bliver dit store potentiale</div>

    {parts.mainMenu -> f:format.raw()}
    {parts.secondLevelMenu -> f:format.raw()}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    {content.titlebox -> f:format.raw()}
                </div>
            </div>
        </div>

        {content.main -> f:format.raw()}

    </div>
</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
    <!-- jQuery Version 1.11.0 -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write("<script type='text/javascript' src='{f:uri.resource(path: 'JavaScript/jquery-1.11.1.min.js', package: 'UlrikKold.AninguaqCoachingDk')}'>\x3C/script>")</script>    

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">bootstrap3_enabled = (typeof $().emulateTransitionEnd == 'function');
        || document.write("<script src='{f:uri.resource(path: 'JavaScript/bootstrap.min.js', package: 'UlrikKold.AninguaqCoachingDk')}'>\x3C/script>")</script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
</f:section>
</body>
</html>
