{namespace neos=TYPO3\Neos\ViewHelpers}
<f:section name="metadata">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <f:if condition="{metaKeyword}">
        <meta name="keywords" content="{metaKeyword}">
    </f:if>
    <f:if condition="{metaDescription}">
        <meta name="description" content="{metaDescription}">
    </f:if>
    <f:if condition="{metaAbstract}">
        <meta name="abstract" content="{metaAbstract}">
    </f:if>
    <f:if condition="{metaAuthor}">
        <f:then>
            <meta name="author" content="{metaAuthor}">
        </f:then>
        <f:else>
            <meta name="author" content="Default author">
        </f:else>
    </f:if>    
</f:section>